html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#inputDiv {
    width: 30%;
    justify-content: center;
    margin: auto;
    
}
#inputSize, #inputColour, #inputCrushRock, #inputWallHeight, #inputCurve, #formButton {
    margin: 10px;
}
.hidden {
    display: none;
}
.show {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.left {
    order: 1;
}

.right {
    order: 2;
}
button {
    width: 100%;
    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center;
    
}